[2020-10-10 11:29] richard-vd opened #4 "syntax error in Python 3.4"
[code]

[2020-10-10 16:14] vladdoster commented on #4
@richard-vd

This is due to the use of [f strings](https://www.python.org/dev/peps/pep-0498/).

To remedy the error, you'll need to use Python >= 3.6.

[2020-10-14 04:43] futzu commented on #4
Vlad is correct, I love  the f strings. Is there a reason you need to use python3.4?

[2020-10-14 04:56] futzu commented on #4
I apologize, I should have made the python requirement more clear.

I believe there are only three lines that have f strings.

`
$ grep -n "f'" threefive/*.py

threefive/segmentation.py:137:                return f'{upid_map[upid_type][0]}:{upid_id}'
threefive/segmentation.py:176:        return f'{pre}{middle[2:6]}{post}'
threefive/segmentation.py:199:        return f'10.{pre}/{post[2:6]}-{post[6:

[2020-10-21 21:45] futzu commented on #4
Python recently dropped support for python3.5,
and Vlad updated setup.py to reflect the 3.6 requirement.
I'm closing this issue.

[2020-10-21 21:45] #4 closed, assigned to richard-vd, futzu

[2020-10-22 08:49] richard-vd commented on #4
Thanks for clarifying the required Python version in setup and documentation!

[2020-10-26 09:56] vasudevavarun opened #6 "ts_scte_parser.py not decoding SCTE packets"
Hello,
I'm trying to decode SCTE packets from a transport stream via  ts_scte_parser.py but it seems like it is not able to decode SCTE packet in the incoming stream while other applications was able to detect it.

Version:  v.2.1.97

I've edited port and mcast_ip as per my requirement

[code]

[2020-10-26 10:06] vladdoster commented on #6
Could you share either some of the data you're trying to parse or logs?

What type of exception is it throwing?

[2020-10-26 10:09] vladdoster commented on #6
The code you shared doesn't give much context. That isn't the only code you're trying to run right?

[2020-10-26 10:11] vasudevavarun commented on #6
Hi,
it is not showing any exception, Just keep listening the stream.

I'm using tsp to analyze the SCTE in the stream and it is able to decode the packet.

[code]

The full code is pasted below, I only pasted the part I've edited.

[code]

[2020-10-27 01:00] futzu commented on #6
Is it a satellite feed with embedded streams?
Can you slice me off a minute or two of the video, and put it somewhere I can get to it?

[2020-10-27 06:21] futzu commented on #6
Try this:

[code]

then use tsduck and pipe the stream to it .
[code]

[2020-10-27 06:30] vasudevavarun commented on #6
Hi Adrian,

Following is the output of test.py, The python application kept listening to the stream while tsp decoded it.

![image](https://user-images.githubusercontent.com/16715755/97264858-b4ced600-184b-11eb-84b2-abd7bfaa3a40.png)

I'm going to provide you a sample transport stream dump of what I'm trying to achieve. Can you please share your's email ID.

[2020-10-27 20:22] futzu commented on #6
When you run ffprobe on the stream, does it look similar to this?
Does it only shows one stream?
[code]

[2020-10-27 21:27] futzu commented on #6
You probably need to demux it. If it has t2Mi embedded streams like this one
https://tsduck.io/streams/?name=russia-t2mi-scte35
[code]
Most likely, you can run the same tsduck command you are running now without the ' -O drop ' at the end and pipe it to  ' python3 test.py.

[2020-10-28 06:22] vasudevavarun commented on #6
I'm getting same output as tsp while running python3 test.py

and ffprobe as you asked

![image](https://user-images.githubusercontent.com/16715755/97399833-f4f98b80-1913-11eb-8053-a6af81b45a6d.png)

[2020-10-28 20:18] futzu commented on #6
Can I see the ffmpeg command you ran?

Why do you have two Inputs for tsp ?

Do it without the
'-P pcrextract --scte35 --pid 0x1033'

It may be due to partial packets, I'm about to push a new pip build to handle that.

[2020-10-28 20:31] vasudevavarun commented on #6
Still same
![image](https://user-images.githubusercontent.com/16715755/97493200-9fac9100-198a-11eb-8d41-c1b5471c9592.png)

I'm not running it via ffmpeg, It is from a professional encoder.

I'm not getting this question, Their is only 1 input in tsp.

[2020-10-28 20:57] futzu commented on #6
I thought the '-l 192.168.17.233' was another input, what does -l do?
Why is tsp showing scte35 without the ' -P pcrextract --scte35' ?

[2020-10-28 20:59] futzu commented on #6
Download a minute or two of the video and upload it to your github account for me so I can figure it out, please.

[2020-10-28 23:56] futzu commented on #6
What happens if you pipe it to mplayer ?

[2020-10-29 06:45] vasudevavarun commented on #6
-l is used when we want listen to the multicast from a particular interface.

I'm running 2 tsp, one is with  -P pcrextract --scte35 just to determine when the scte is coming and below is output of what you instructed to do.

Please download it from here
https://drive.google.com/file/d/1Qo0LSsyXMyW5j4RHsc32tati2sqO0RRM/view?usp=sharing

I'm running it in headless mode, pipe to mplayer will be a ch

[2020-10-29 22:16] futzu commented on #6
Solved as of version 2.2.09. I added support for earlier versions of SCTE-35.
![Screenshot_2020-10-29_18-14-47](https://user-images.githubusercontent.com/52701496/97638281-9a932480-1a12-11eb-91b5-b5c53bc3623a.png)

[2020-10-29 22:16] #6 closed, assigned to futzu

[2020-11-24 12:46] richard-vd opened #7 "ERROR while decoding TS: 21 since v.2.2.09"
When running `examples/multicast/ts_scte_parser.py` I only see `ERROR while decoding TS: 21` for each SCTE-35 packet, using v.2.2.25 on Python 3.6. The latest working release is v.2.2.01, v.2.2.09 is the first release with this error.

[2020-11-25 05:25] futzu commented on #7
I think I see the issue.  I'll let you know shortly.

[2020-11-25 06:57] futzu commented on #7
### This is the previous multicast example from 2.2.01
it calls __Stream.decode(func = foundit)__
instead of __Stream.decode_next()__

[2.2.01](https://raw.githubusercontent.com/futzu/SCTE35-threefive/484fc5b04904d8f12bd59ae9fccc1a2cfd7f16ba/examples/multicast/ts_scte_parser.py)

Does this work correctly for you?

[2020-11-25 08:27] futzu commented on #7
I had another guy have a similar issue today,  I just pushed a new pip build, 2.2.29,
he's testing it now.

[2020-11-25 21:55] richard-vd commented on #7
No difference with either 2.2.29 or 2.2.31 with the latest or old (2.2.01) multicast example, the same error appears in all cases. What can I do to help find what's happening?

[2020-11-26 02:10] futzu commented on #7
Richard,
Do you have a lot of programs in the stream?
Can you run ffprobe for me and post the output?
With that info, I should be able to offer a solution.
Don't worry man, this won't take long.

[2020-11-26 04:12] futzu commented on #7
Don't use 239.0.0.1,  try 239.255.0.1

[2020-11-26 04:13] futzu commented on #7
What is serving the multicast stream and what OS are you using?

[2020-11-26 06:32] souravsingla opened #8 "Issue with decode() and decode_proxy() functions"
Using decode() or decode_proxy(), both functions are giving below error:

File "proxy_d35.py", line 6, in <module>
    sp.decode_proxy()
  File "/usr/local/lib/python3.6/dist-packages/threefive/stream.py", line 127, in decode_proxy
    cue = self._parser(pkt)
  File "/usr/local/lib/python3.6/dist-packages/threefive/stream.py", line 186, in _parser
    return self._parse_scte35(pkt, pid)
  File "/u

[2020-11-26 07:45] futzu commented on #7
I tested the script below with  2.2.33  tonight.
I've run it dozens of times without any issues.

I  subclassed Stream so that the video pts is
displayed in the terminal so you can see progress..

[code]

[2020-11-26 16:59] futzu commented on #7
Richard,
you have figured out more than you realize.
I like your fix, but shouldn't it be
The issue you're describing shouldn't be able to happen,
but obviously is happening.
No I see what I broke.
in Stream._parser, I added returns after each if conditional,
that prevented the packets from also being checked for pts.
I added the returns in 2.2.1.
Nice work man.

If want to commit directly to this

[2020-11-26 17:20] futzu commented on #7
### I am adding you to the repo, I want you on the team.

**All I ask is that you commit early and often,
and use black to format code.**

[2020-11-26 17:27] futzu commented on #8
Richard,
will you confirm this is fixed and close it?

[2020-11-26 17:34] futzu commented on #8
souravsingla ,
I will do a pip package later today with Richard's fix.
Let us know if you still have the problem.
Your feedback is always welcome here.

[2020-11-26 22:47] richard-vd commented on #8
This issue is fixed with my PR that will be released by you later today.
Thanks @souravsingla for reporting.

[2020-11-26 22:47] #8 closed, assigned to richard-vd

[2020-11-26 22:54] richard-vd commented on #7
Thanks for adding me!

In case of video and SCTE-35 in the same PID there will always be PTS. However in many cases the SCTE-35 data is on a separate PID without PTS and that's also normal. We could perhaps also try to read the PCR timestamps.

[2020-11-26 22:54] #7 closed, assigned to richard-vd, futzu

[2020-12-06 14:57] richard-vd opened #11 "crash in some SCTE-35 packet in v.2.2.37"
I haven't yet found the the exact packet data leading to this crash. Here is the traceback:
[code]

[2020-12-06 17:02] richard-vd commented on #11
There seems to be an issue with handling messages that are spread over multiple TS packets.

It crashes on a large SCTE-35 section. The decode() function works correctly if I feed it these 200 bytes directly, so the issue is not with the SCTE-35 decoding itself.
[code]
Due to the size the SCTE-35 section is split over two TS packets. The first TS packet contains the first 183 bytes and the followi

[2020-12-09 06:39] futzu commented on #11
I was wrong. A single cue can be 4096 bytes.
Ill try to fix it today

[2020-12-09 10:07] futzu commented on #11
Use this and post the output for me please
[code]

[2020-12-09 19:00] futzu commented on #11
### Where are you man?
**I think we might have a fix,  I rolled it into 2.2.39.**

2.2.39
- [x]  Everything works
- [ ]  Most of it works
- [ ]  Some of it works
- [ ]  None of it works

[2020-12-09 22:03] richard-vd commented on #11
It works using 2.2.39, and better than ever!

Thank you so much Adrian!  I could not have done it as well as you did.

[code]

[2020-12-09 22:03] #11 closed, assigned to richard-vd, futzu

[2020-12-09 23:03] futzu commented on #11
You spelled out the problem,
I just followed what you said.

I'm glad that worked.

[2021-01-22 00:33] futzu opened #15 "Encoding and Inserting SCTE35 packets into MPEG-TS video"
*  I'm about to start adding __**SCTE35 encoding methods.**__
    * I created the __bitn.NBin class__ to make __encoding data to  easy__.
    * __check this out:__
          * The first method ___parse_break__, is the __decoder using bitn.BitBin.__
        *   ___encode_break, the encoder using bitn.NBin__ follows the __same flow__ as the decoder method.
[code]

[2021-01-23 14:05] richard-vd opened #16 "multi packet PMT and PAT/PMT with adaptation field not working"
Hi,

Current TS and section parsing code doesn't handle:

1. large PMT sections (>1 TS packet)
2. multiple table sections in a single TS packet (section starting at arbitrary position in TS payload)
3. TS packets with smaller payload (adaptation field stuffing)

I am working on it.

[2021-01-23 14:17] richard-vd commented on #15
I know a fair bit of PIDs and packets and can validate the output. I am however new at coding Python so bear with me.

[2021-01-23 15:24] futzu commented on #16
When you do the adaptive fields stuff,
we will need these later for SCTE35 packet insertion
splice_point_flag
splice_countdown.

and from the adaption extensions format
seamless splice flag .

[2021-01-24 22:23] richard-vd commented on #16
Example of a TS file containing situations 1. and 2.:
https://patchwork.ffmpeg.org/project/ffmpeg/patch/20180611074331.28844-1-ffmpeg@tmm1.net/

[2021-01-25 21:55] futzu commented on #16
Cool. I'll check it out.

We're close, take a look at
https://github.com/futzu/SCTE35-threefive/blob/master/threefive/afc.py

[2021-01-29 22:48] futzu commented on #16
Do you have a copy of the mpegts spec?
I've been using the  2nd edition from 2000

[2021-01-30 06:17] futzu commented on #16
https://github.com/futzu/SCTE35-threefive/discussions/19

[2021-01-30 22:25] futzu commented on #15
If you can figure out what steps we need to:
*  Add a  SCTE-35 stream
*  Add MPEG-TS packets

I can help you with the code.

The encoding for the __splice info section__, and __the splice commands__ is __done__.
The encoding for __Audio, Avail, DTMF, and Time descriptors__ is __done__.
 Only the __Segmentation Descriptors remain__, and I'm about to start on them now.

[2021-02-02 22:11] futzu opened #20 "TUI for Encoding SCTE35 String Values"
I don't care what it looks like, that's up to you.
I'll explain functionality, but keep your code loose,
we have to figure it out as we go.

Vlad, ask questions as they come up.

We can do it in small chunks.
Let's start with the Splice Command.

On the TUI, we need to select a splice command.

*  BandwidthReservation
*  PrivateCommand
*  SpliceInsert
*  SpliceNull
*  TimeSignal

Selecting a comma

[2021-02-02 22:30] futzu commented on #16
I havent seen AFC in use on PMT packets, have you?
grab afc.py  and
[code]
It spits out tons of info

[2021-02-04 17:47] futzu commented on #15
## threefive.Cue can now Encode and Decode itself for all Splice Commands and Descriptors.
The currently supported __Segmentation Upid__ types:
-  [x] __0x02__
-  [x] __0x03__
- [x] __0x04__
-  [x] __0x05__
-  [x] __0x06__
- [x]  __0x07__
- [x]  __0x08__
- [x]  __0x09__
- [x]    __0x0A__
- [x]  __0x0B__
- [x]   __0x0C__
- [x]   __0x0D__
- [x]  __0x0E__
- [x]  __0x0F__

[code]

[2021-02-05 00:02] richard-vd commented on #16
My MPEG-2 TS spec is not newer than yours. I don't think we're missing much though.

[2021-02-05 19:22] #16 closed, assigned to richard-vd

[2021-03-04 05:39] #15 closed, assigned to futzu

[2021-03-16 05:59] futzu commented on #16
It works now.

[2021-04-20 14:03] futzu commented on #20
Changed my mind.

[2021-04-20 14:03] #20 closed, assigned to futzu

[2021-05-07 12:08] BartmanEH opened #26 "SCTE-35 Preroll"
I think your side of the conversation in the tsduck thread was deleted. Let's pick it up here.

It will take me some time to get up to speed on installing and using threefive. In the meantime, where do I grab the latest version that you added preroll to?

edit: I see it, it's the 'master' code thread (terrible name, github... come on)

[2021-05-11 04:47] futzu commented on #26
I deleted them. I thought it was kind of rude of me to post my stuff on his repo.
This repo has the preroll stuff in it, you can clone this repo, or
I'll do a release by morning with the preroll stuff added. Then you can just pip install it.

https://github.com/futzu/threefive/blob/master/examples/stream/preroll.py

[2021-05-11 13:36] BartmanEH commented on #26
Never used pip on my mac, only homebrew. This will take me some time to figure out.

[2021-05-12 03:46] vladdoster commented on #26
The `master` nomenclature is deprecated. If you create a new repository today it will be called `main`.

I'd suggest adding the following  python shebang

`#!/usr/bin/env python3`

Then you can do

[code]

[2021-05-12 05:32] futzu commented on #26
**I was going to ask Vlad how to do it :))**

[2021-05-12 12:03] BartmanEH commented on #26
[code]
I have no idea what I'm doing but clearly I should not be trying to install the linked python script using pip.

This stuff is insanely hard for the uninitiated. I tried to install pypy3 so I went to [https://www.pypy.org/download.html#](url). First you have to figure out that PyPy3.7 is probably PyPy3 despite being under the heading "PyPy v7.3.4" so I'm already not confident that I'm in th

[2021-05-12 13:37] BartmanEH commented on #26
I cloned the threefive git and 'make install' worked but 'make pypy3' doesn't:
[code]

[2021-05-12 14:25] futzu commented on #26
Pip is the way to go

Do this as root.
[code]
https://github.com/futzu/threefive#install

I don't mean to discourage your efforts,
however,  threefive is a python library,
 if you aren't comfortable python,
threefive may not be the best tool for you.

[2021-05-12 14:35] BartmanEH commented on #26
i deleted my cloned git and ran `pypy3 -mpip install threefive` but now have no idea where threefive is installed:
[code]
Indeed I'm not comfortable with python or macOS command line at all but the Venn diagram intersection between broadcast engineers who know something about SCTE-35 and software engineers who know something about python and command line must be incredibly small.

[2021-05-12 18:09] futzu opened #27 ": W0703: Catching too general exception Exception (broad-except)"
**Vlad,**
do you have time to sort this out?

I can post the script I use to test all the cases.

[code]

[2021-05-12 20:44] futzu commented on #26
You don't need to know where it's installed actually :)
Since you already have the git repo,
cd to the threefive/examples/stream directory
and run:
[code]

[2021-05-12 20:48] futzu commented on #26
![Screenshot_2021-05-12_16-48-03](https://user-images.githubusercontent.com/52701496/118042275-e3248680-b341-11eb-83e3-a4e8964cce7e.png)

[2021-05-12 21:07] BartmanEH commented on #26
no, I deleted the git clone and installed via pip with `pypy3 -mpip install threefive`. I don't have a threefive folder and have been unable to `locate` or `find` anything related such as preroll.py. Whatever `Successfully installed threefive-2.2.87` means, it doesn't mean there's a threefive folder I can cd into.

[2021-05-12 21:59] futzu commented on #26
download it here.
https://raw.githubusercontent.com/futzu/threefive/master/examples/stream/preroll.py

[2021-05-12 23:51] futzu commented on #27
Don't worry about it, I'll do it.

[2021-05-13 03:12] futzu commented on #27
Done

https://github.com/futzu/threefive/commit/3c8ccc6ff1e7075468bd4753a61a1e4e8449ccc0

[2021-05-13 03:13] #27 closed, assigned to futzu

[2021-05-14 00:55] futzu commented on #26
Did you get it running?
You don't need to be in the threefive directory to run it.

just download preroll.py , I use curl.

[code]
*    output from curl
[code]
*   Run the script
[code]
*  output

[code]

[2021-05-15 00:00] vladdoster commented on #26
1. Create a file called `get-deps.sh`
2. Copy and paste the following script

[code]

3. In a terminal where you created the script, run

[code]

4. Next, run

[code]

5. Now, you should be able to run the following with no issues

[code]

[2021-05-17 12:19] BartmanEH commented on #26
Ok, the curl command snagged preroll.py and I was able to run it. Results are a bit different than what I'm looking for and more along the lines of tsduck (maybe due to the same limitations of processing in realtime rather than with the multi-pass benefit of offline?):
[code]
DVB Inspector and Sencore Compressed Stream Analyzer:
splice_time (preroll time = 5.810 secs)
splice_time (preroll time = 5

[2021-05-17 12:34] BartmanEH commented on #26
[code]
so that didn't work.
One of my pip commands worked and dropped threefive into a pypy3 folder:
![image](https://user-images.githubusercontent.com/6135879/118489170-867eee00-b6ea-11eb-9ecf-500e658fc554.png)
...but that folder doesn't have preroll.py

I suspect I have a mess: a slew of folders from multiple attempts to install threefive

[2021-05-17 13:22] vladdoster commented on #26
You don't need to mess with site packages. It is imported in the pre-roll.py file and Python will take care of all that behind the scenes.

If it is already installed then you can just move on to the next step of the process I outlined.

The only thing that I see that needs to be added to `pre-roll.py` is the shebang.

Add the following line to the first line of the `pre-roll.py`:

[code]

[2021-05-17 13:27] BartmanEH commented on #26
thank you @vladdoster, both commands do work indeed:
[code]

[2021-05-17 13:32] vladdoster commented on #26
Happy to help 😃 .

@BartmanEH

[2021-05-18 02:41] futzu commented on #26
That's the beauty of threefive, it can include whatever you like.
Do you want it more like DVB inspector?
Show me what you want the output to look like.

[2021-05-18 02:58] futzu commented on #26
Here's one that matches DVB inspector's output.

https://github.com/futzu/threefive/blob/master/examples/stream/preroll2.py

[code]

[2021-05-18 12:12] futzu commented on #26
vlad ,

try
[code]

[2021-05-18 12:18] BartmanEH commented on #26
I'm referring to the values, not the formatting. The whole thread I started on tsduck was about the values computed for preroll. The gold standard is the offline processing by Sencore Compressed Media analyzer (CMA). The author of DVB Inspector added preroll at my request and his computation agrees with Sencore CMA. Author of tsduck added splicemonitor plugin at my request but the computed results

[2021-05-18 13:58] futzu commented on #26
How much do they differ?
I use only PTS because that's what SCTE-35 uses and, I often find PCR times that differ greatly from PTS
because the video has been transcoded.

Using PCR will be different because PCR is 33 bit + 9 bit extension
PTS is 33 bit.

SCTE-35 specifies time in PTS, so I use PTS not PCR.

[2021-05-18 14:22] BartmanEH commented on #26
I cited an example:
preroll.py:
Program: 600	Splice Insert @ 18728.588444 	Splice Time: 18734.293011	Preroll: 5.704567
Program: 600	Splice Insert @ 18729.164444 	Splice Time: 18734.293011	Preroll: 5.128567
DVB Inspector and Sencore Compressed Stream Analyzer:
splice_time (preroll time = 5.810 secs)
splice_time (preroll time = 5.272 secs)
these results are from the same ts sample.

SCTE-35 specifie

[2021-05-18 15:43] futzu commented on #26
I see your point. Let me try using PCR and see what I get.

[2021-05-18 16:54] futzu commented on #26
Run this and see what what you get.
download it  here:
[preroll3.txt](https://github.com/futzu/threefive/files/6502974/preroll3.txt)
then run it
[code]

[2021-05-18 17:26] BartmanEH commented on #26
[code]
so that's much closer to the gold standard results:
DVB Inspector and Sencore Compressed Stream Analyzer:
splice_time (preroll time = 5.810 secs)
splice_time (preroll time = 5.272 secs)

I can definitely work with that. How robust is this new calculation? Are you counting packets from last PTS to the SCTE-35 command packet and using bitrate to calculate the time to the SCTE-35 command packe

[2021-05-18 17:37] futzu commented on #26
This is just a quick hack to see if I can do it.
This is "closest PCR" instead of closest "PTS"
for the SCTE-35 packet .

preroll = (SCTE-35.command.pts_time) - (closest PCR time to the SCTE-35 packet)

If you think about it though,
 using PTS is really the safer method,
since it consistently shows smaller preroll times
and the specification says at least 4 seconds prior.

I bet a lot of people us

[2021-05-18 17:41] BartmanEH commented on #26
You can extrapolate the PTS. Start with closest PTS then add the time it takes for the number of packets between last PTS and the SCTE-35 packet. The time is the (# of packets X bits/packet) / bitrate.

[2021-05-18 17:50] futzu commented on #26
I'll switch t

How about I just switch to the PCR time?.

[2021-05-18 21:05] futzu commented on #26
This shows PCR and PTS preroll
[preroll4.txt](https://github.com/futzu/threefive/files/6504485/preroll4.txt)

Download this one and run
[code]

[2021-05-19 12:01] BartmanEH commented on #26
[code]
First of all, I started using pypy3--it is WAY faster as you noted... somewhere... :-)

I still think if you could add `(# of packets X bits/packet) / bitrate` to the last PTS packet, it would be the closest most reliable value. Do you know/calculate bitrate?

[2021-05-19 14:43] futzu commented on #26
Thank you for trying pypy3,
nobody believes me when I tell them it's three times faster.
It's especially fast at bit wise operations.... like parsing video data.

Firstly, you're assuming they are doing it correctly.
honestly, I think PTS is the time intended to be used,
but I don't know for sure.

The PCR Preroll is ~0.02 higher on the first Splice time
and ~0.002 higher on the second Splice.

 0

[2021-05-19 14:53] BartmanEH commented on #26
We are doing frame accurate splicing. In conjunction with the encoder providing an I-Frame at the exact PTS time, we do frame-accurate SCTE-35 splicing out and back in to the live stream: [Edgecaster Pro frame-accurate ad insertion news](https://www.datacast.com/news/edgecaster-pro) and [Edgecaster Pro product](https://www.datacast.com/index.php/product/edgecaster-pro)

Notwithstanding that, I agr

[2021-05-19 14:56] futzu commented on #26
You're very welcome.
I really appreciate the input, seriously.

Give me a day or two, and I'll have a new release with the PCR and PTS  baked in.

[2021-05-19 15:05] futzu commented on #26
One idea I had was to
work off the PCR, they should be every 100ms,
but if I calculated the number of packets between PCRs
and where the SCTE-35 packet is in relation,
that could be millisecond accurate or better.

I'll keep thinking about it.

[2021-05-19 15:09] BartmanEH commented on #26
Ultimately the tool, as you have it now, really meets the fundamental purposes of preroll analysis. Thanks again.

[2021-05-19 15:12] futzu commented on #26
Could I get a copy of your test video,
so I can have something to benchmark against?

I have servers you can upload it to if needed.

[2021-05-19 15:17] BartmanEH commented on #26
sure, for your personal use only. not sure how to DM server credentials...

[2021-05-20 16:43] futzu commented on #26
I'm calculating pre-roll as the difference between when a SCTE-35 packet is seen and the splice PTS time.
Using PCR is more accurate, simply because it's updated more often.

I think pre-roll is more better defined as the difference between the PCR of the SCTE-35 packet and the PCR of the actual splice point, not  the Splice Insert  PTS specified in the Cue message.

As you mentioned earlier,
this

[2021-05-20 22:00] futzu commented on #26
try it this way.

[code]

[2021-05-20 23:20] futzu commented on #26
Now I can't stop thinking about it........
I found part of the difference.
I was rounding PCR and then rounding the preroll .
If I remove the rounding it gets closer.
I have a few more ideas I want to try ,

I am reopening this.

[2021-05-22 08:28] futzu commented on #26
## Testing threefive with ffmpeg.

___
### SCTE-35 Packet
___
### <u>__ffmpeg__</u>

### <u>__threefive__</u>

___
### SCTE-35 Splice Insert
___
### <u>__ffmpeg__
</u>

###<u> __threefive__</u>

[2021-05-27 03:07] futzu commented on #26
#### I believe I have it accurate now.

#### ffmpeg
[code]
#### threefive
[code]

[2021-05-27 03:26] futzu commented on #26
Here's the commit.
https://github.com/futzu/threefive/commit/b9bb14d1a92d3da8684db699b79de96af3a5dc1a

[2021-05-27 03:47] futzu commented on #26
https://github.com/futzu/threefive/releases/tag/v.2.2.89
there is the release
[code]

[2021-05-27 11:56] BartmanEH commented on #26
OK, you've gotten way ahead of me. I've run `pypy3 -m pip install --upgrade threefive` and I have a folder buried way down here:
<img width="1266" alt="Screen Shot 2021-05-27 at 7 46 34 AM" src="https://user-images.githubusercontent.com/6135879/119820815-dfefd580-bebf-11eb-8fc8-77e5b8f7d545.png">
and `version.py` has contents including `version_tuple = "2.2.89"` so the pip upgrade worked.
1) I don

[2021-05-28 03:05] futzu commented on #26
You really have to know python to use threefive.

[2021-05-28 12:28] BartmanEH commented on #26
OK, I made it abundantly clear at the beginning that I do not know python. In any event, I ran the script you posted above:
[code]
that seems to have (re)upgraded threefive and grabbed the example script `preroll.py`.

Is there a typo in @vladdoster's original script?

where the last line should be `sed -i '1s/^/#!/usr/bin/env python3\n/' preroll.py`?

[2021-05-28 12:59] vladdoster commented on #26
lol, good catch. I didn't escape the forward slashes.

Try this:

[code]

[2021-05-28 13:15] BartmanEH commented on #26
Nice. NOW I know python :-)

of course I'm kidding: I know there's a lot more to threefive that can be done by creating comprehensive python scripts and importing threefive as a library. It's just not where I am. I need simple tools to measure preroll and I have a plethora now including the sample script preroll.py so thanks!

[2021-05-28 13:15] #26 closed, assigned to futzu

[2021-06-02 15:47] futzu commented on #26
Check https://github.com/futzu/scte35 in a couple weeks.
I'm making it into a executable, it will be easier for you to use.

[2021-06-07 00:18] futzu commented on #26
@BartmanEH ,
do you know that DTMF  Descriptors include a preroll variable?

Here's a Splice Insert with a DTMF Descriptor.
[code]

[2021-06-07 17:43] BartmanEH commented on #26
I did not know that but then, our solution is purely digital working with SCTE-104/35 Splice In commands only.

[2021-07-10 08:59] futzu opened #30 "threefive v2.2.91 bug in Stream class"
Version 2.2.91 has a bug when parsing MPEGTS with the Stream class.
Stream._parse calls Stream.,_split_by_idx too often.
[code]
fixed in version 2.2.93
[code]

[2021-07-10 09:41] futzu commented on #30
[Fixed  in 2.2.93](https://github.com/futzu/threefive/releases/tag/v.2.2.93)

[2021-07-10 09:41] #30 closed, assigned to futzu

[2021-07-27 15:45] bbgdzxng1 opened #32 "FFmpeg SCTE-35 Stream Type"
futzu wrote.. _"I don't know how to stop ffmpeg from changing the SCTE35 stream type to 0x6."_

FYI - I did some experiments with this and it seems to be a limitation of FFmpeg's TS muxer.

If I use the NUT container (FFmpeg's proprietary container format), the `-tag:d` can be used to set the type.  In theory, this tag should also be capable of setting the type via a fourcc value, but that does no

[2021-07-27 17:43] futzu commented on #32
[code]
So that's how it works...
I tried using -tag, but I didn't know how to specify the stream.
I've never used the NUT container, I'm going to have to check it out.

I've been contemplating adding some code to change
a stream type in the PMT, that's where I get the stream type.

I don't know where the fourcc tag is stored in mpegts, that probably should set too though.

I'm going to make this a

[2021-07-27 17:44] #32 closed, assigned to nobody

[2021-10-13 02:04] ozrocozroc opened #37 "hasp.py error in decoding hls manifest"
the issue I am experiencing when testing hasp.py with my project is that when I try to it to decode scte35 messages I am getting the following error:
======error log start
Traceback (most recent call last):
  File "/home/dhuang/scte35-threefive/examples/hls/hasp.py", line 177, in <module>
    HASP(arg).decode()
  File "/home/dhuang/scte35-threefive/examples/hls/hasp.py", line 150, in decode
    ho

[2021-10-13 03:30] futzu commented on #37
Could you paste the manifest here?
It is only available in Oz.
The hasp.py example was targeted to a particular manifest, I left a lot of stuff out.  It was mostly to show the AES decrypt.
Hasp.py decrypts the first segment in the manifest to determine the start time of the segment from the PCR timestamp. The hlsparse.py script does not. hlsparse.py only reads the manifest.

It looks like hasp.py

[2021-10-13 03:47] futzu commented on #37
Don't worry, this won't take long to figure out.

[2021-10-13 04:13] ozrocozroc commented on #37
Thanks for getting back to me.
1. Please see attached manifest, renamed to "9syd_master1.m3u8.txt" (to comply with github upload)
[9syd_master1.m3u8.txt](https://github.com/futzu/scte35-threefive/files/7334751/9syd_master1.m3u8.txt)

2. attached filename (ffprobe.out.txt)
[ffprobe.out.txt](https://github.com/futzu/scte35-threefive/files/7334750/ffprobe.out.txt)

[2021-10-13 12:02] futzu commented on #37
Try this one.

[haspfix.py.gz](https://github.com/futzu/scte35-threefive/files/7337876/haspfix.py.gz)

[2021-10-13 18:13] futzu commented on #37
This one is a bit better.
[hasp3.py.gz](https://github.com/futzu/scte35-threefive/files/7340436/hasp3.py.gz)
I still need to fix a couple things with it, let me know your thoughts.

[2021-10-14 02:03] ozrocozroc commented on #37
initial testing suggests it's working now!  Thank you!
I can also see that you've also gone extra steps to fix non-absolute URI.
Which fixed my other problem as well 👍🏽
Thank you very much for the speedy response.

[2021-10-14 04:22] futzu commented on #37
Cool.
Here's an update.
[hasp4.py.gz](https://github.com/futzu/scte35-threefive/files/7342946/hasp4.py.gz)

[2021-10-15 13:26] ozrocozroc commented on #37
Thanks again.

[2021-10-15 13:26] #37 closed, assigned to futzu

[2021-10-18 23:29] futzu commented on #37
My pleasure, I appreciate the feedback.
https://github.com/futzu/scte35-threefive/blob/master/examples/hls/hasp.py
Is the latest greatest version.
Ill do a pip release this week with all the updates in it.

[2021-10-28 14:51] AudioDan opened #39 "Incorrect pts time"
We have an 86MB, 9 to 10 minute video snippet where for the first of 2 SCTE messages, in version 2.2.99 the pcr shows 87726.9313 and the pts shows 87726.952711.  But when moving the 2.3.01 or 2.3.03, the pcr shows 87726.9313 but the pts shows 87.381333.  When monitoring a live video stream over 10 hours we may see approximately 8 out of 61 Scte35 messages have this exact 87.381333 value instead of

[2021-10-29 02:16] futzu commented on #39
Let me look into it tonight

The pts_adjustment is added to pts_time,  but I am thinking maybe it should not be, because it is kind of confusing. What do you think?

[2021-10-29 04:02] futzu commented on #39
Try this script and see how it does with 2.3.03.

``` python3 streamfu.py video.ts```

[streamfu.py.gz](https://github.com/futzu/scte35-threefive/files/7438780/streamfu.py.gz)

[2021-10-29 12:04] AudioDan commented on #39
It seems to me that parameters that by name directly refer to the SCTE35 specification should only express the specification  So pts_time should not have the pts_adjustment in it.  That does not mean we can't have an additional non-spec field (for example pts_adjusted_time) if we think having that calculation automatically done is useful.  Having said that I have concerns about changing it as well

[2021-10-29 12:15] AudioDan commented on #39
Yep that seems to fix it.
Using the streamfu.py for the offending break I get:
    "packet_data": {
        "pid": "0x1f4",
        "program": 1,
        "pcr": 87726.9313,
        "pts": 87726.952711
    }

Using 2.3.01 I get:
   "packet_data": {
        "pid": "0x1f4",
        "program": 1,
        "pcr": 87726.9313,
        "pts": 87.381333
    }

So is this something you can get into a new bui

[2021-10-29 17:52] futzu commented on #39
Dan,
let me be clear, I really appreciate your input, and your directness, it is a big help.
The PTS  parsing has actually never been correct, I was using `if pkt[6] & 1:` when it should have been `if pkt[11] & 128:`,
in 2.2.99 the correct PTS values were a side effect of the order of the returns in the _parse function. I only caught it last night because you opened this issue and I went back thro

[2021-10-29 23:04] AudioDan commented on #39
Perfect.  I really appreciate how responsive you are on this project.

Let me think about the testing.  Like I said my python is weak, but I have been looking for an open source project to help with and this might be fun if I can find some time.  It might be something dead simple to start with like a script that takes a folder as an argument and expects to find a bunch of video files and text file

[2021-10-30 00:11] futzu commented on #39
I could use some help, and I can help you with python syntax. We should talk about it.

Here's the new release details.

https://github.com/futzu/scte35-threefive/releases/tag/v2.3.05

[2021-10-30 23:15] AudioDan commented on #39
If you wouldn't mind, leave this open until Wednesday and then we can close it.  Initial testing looks good but we won't be able to put it up against our actual test streams until sometime early next week.  Just to double check pts_time, pts_adjustment, and pts are all being reported in seconds with the 90k conversion already handled - correct?  So if one wanted to know in milliseconds the differe

[2021-10-31 19:15] AudioDan commented on #39
So the sample file and stream I was originally working with is working now I think, but it seems to be breaking a different sample that was working in 2.3.01.  On that sample, when streaming to 2.3.05 using tstools/tsplay I get:

Traceback (most recent call last):"
  File \"/usr/bin/sai/scte35/scte35_listener.py\", line 110, in <module>"
    read_stream(sock,show_null)"
  File \"/usr/bin/sai/scte3

[2021-10-31 19:55] AudioDan commented on #39
A little more info if useful.  I have 7 files all exported ts files created by doing a wireshark capture on some live udp streams from different sources we are working with.  We use the Dump Mpeg TS packets tool (https://wiki.wireshark.org/mpeg_dump.lua) to dump from a wireshark cpature to a an mpegts file.  I created a little test script to just decode the files:

import threefive
import sys

if

[2021-11-01 16:08] AudioDan commented on #39
I dug into this a bit and found where it was crashing and then looked into the changes in that function between 2.3.01 and 2.3.05.  Reverting 3 lines of code in the _parse_pcr method seems to fix it for my test files while still gaining the pts fixes in 2.3.05.  I issued a pull request for the change.

Note: My forked version also has a branch as I cherry-picked the fix onto a branch of 2.3.05.  T

[2021-11-06 22:15] futzu commented on #39
I believe we have resolved the issues.
* The PTS issue was resolved with 2.3.05
    * The PTS parsing has actually never been correct, I was using `if pkt[6] & 1:` when it should have been `if pkt[11] & 128:`
* The PCR issue was resolved with 2.3.07
    * The PCR issue was due to the PCR PID of the Program not being a stream in the Program.I was unaware this was possible, or allowed. I adjusted th

[2021-11-06 23:37] AudioDan commented on #39
Yep. Sorry the week got away from me but it is all looking great.  closing now.

[2021-11-06 23:44] futzu commented on #39
Cool man. Thanks for all your help.

[2021-12-01 19:13] futzu commented on #39
@audioDan
could you check the timestamps returned  by the code in the repo ( version 2.3.10 )
with the video for this issue? I'm not seeing any issues, but I would like a second opinion.

[2021-12-02 00:53] AudioDan commented on #39
Today was a bit nuts with meetings but I will give it a whirl in the morning and hit you back.

[2021-12-02 00:54] futzu commented on #39
Cool. Thanks man.

[2021-12-02 21:45] AudioDan commented on #39
My morning ending up being nuts too, but got into this a little bit ago.  So far everything looks good.  Note that there is no tag for 2.3.10 yet but I pulled the commit that you marked as being 2.3.10.  I have run a simple decode test against all of my sample files and compared the results to what we had with 2.3.07 and they are identical.  Next I have updated my vm and am streaming those same fi

[2021-12-03 00:00] futzu commented on #39
The latest master please. I have no idea how to add tags. :)

[2021-12-03 00:31] futzu commented on #39
This may be a little easier to handle.

gunzip this
[timestamps.py.gz](https://github.com/futzu/scte35-threefive/files/7645914/timestamps.py.gz)
you can do something like
[code]
It will give short output
[code]
you can ```pypy3  timestamps.py *.ts >>  out.file``` too.

[2021-12-03 00:37] futzu commented on #39
This is how I have been checking it.

[code]
post diff.out here.

[2021-12-03 01:55] AudioDan commented on #39
So I did pip install threefive==2.3.07.  Then ran your script on each video capturing the output to a file.  Then from within the repository directory I did pip install . to install master version which showed 2.3.10 though I assume it is actually 2.3.10 plus the changes since that are in master.  Then I ran your script again on each video capturing the output to a file.  The diff shows no differe

[2021-12-03 02:00] AudioDan commented on #39
Here is a combination of the output of 5 files.  Note the a file has its breaks expressed in segmentation descriptors
[all.txt](https://github.com/futzu/scte35-threefive/files/7646283/all.txt)
.

[2021-12-03 02:09] futzu commented on #39
Yes, that is exactly what we wanted.
I implemented faster packet parsing and I wanted to make sure there were not any errors.

Cool man. Thank you so much.

[2021-12-03 02:11] AudioDan commented on #39
Awesome.  Not a problem.

[2021-12-03 02:12] #39 closed, assigned to futzu

[2022-02-18 22:09] bbayles opened #46 "Consider making crcmod an optional dependency"
Commit 1feffa62f54c83884e1de38d51eeebc6b3d2871e allowed users without `crcmod` installed to use the bits of`Cue` functionality that don't require it.

However, [setup.py](https://github.com/futzu/scte35-threefive/blob/d9f4896e377d6d6c2da5cc8aa88d0ab0a3296f89/setup.py#L18-L21) brings in `crcmod` unconditionally. This means that users who install `threefive` wind up with `crcmod`.

My request is to

[2022-02-18 23:05] bbayles commented on #46
As an alternative, [pycrc](https://github.com/tpircher/pycrc/) is better maintained than `crcmod` (last release 2021 vs. 2010) and doesn't require an extension module.

I believe this is the equivalent to `threefive`'s use:
[code]

Hope this is helpful!

[2022-02-19 04:22] futzu commented on #46
Sounds reasonable.
I'll change the setup.py in the next day or so,
but I am unfamiliar with pycrc, and I need to test it a little first.

[2022-02-19 04:59] futzu commented on #46
![image](https://user-images.githubusercontent.com/52701496/154786900-d44fac4a-09b8-45ba-91bf-6738e3720575.png)

Works for me, let me know if that works for you.

Adrian

[2022-02-19 13:42] bbayles commented on #46
Excellent! This solves my problem.

However, I think there's a problem with the implementation. `setup.py` [now has](https://github.com/futzu/scte35-threefive/blob/0a306840a3472e43c4650f01f34551b4c8243a33/setup.py#L18) `extra_requires` as a list, but for optional dependencies you'd want to use `extras_require` as a dict. Example:

[code]

This would allow a user to do `pip install threefive[all]`

[2022-02-19 16:06] futzu commented on #46
I like it.
I'll go ahead and make a new release with the "all" as you suggested.

[2022-02-21 13:07] moving-digital opened #48 "NA"
NA

[2022-02-21 15:36] moving-digital opened #49 "'hasp.py' for SCTE-35 HLS parsing throws error "OverflowError: int too big to convert" or "[Errno 104] Connection reset by peer""
Hi @futzu

First of all, great project! :)

When using `hasp.py` with the following command: `pypy3 hasp.py <m3u8_manifest>` I keep getting the following errors:

[code]
and
[code]

I have tried with:
- Few different Live HLS streams from my side, which have been on-air for the past few years, and also the m3u8 manifest from https://github.com/futzu/scte35-threefive/issues/37 renamed to "9syd_mast

[2022-02-21 15:37] moving-digital opened #50 "'hlsparse.py' for SCTE-35 HLS parsing throws error "FileNotFoundError: [Errno 2] No such file or directory""
Hi @futzu

When using `hlsparse.py` with the following command: `pypy3 hlsparse.py <m3u8_manifest>` I keep getting the following error:

[code]

I have tried with:
- 5 different Live HLS streams from my side, which have been on-air for the past few years. It does not work and throws the above error
- The 2 m3u8 examples available on your github. It works.

Would you happen to know what could be th

[2022-02-21 15:39] #48 closed, assigned to nobody

[2022-02-21 17:34] futzu commented on #49
Are you running the latest version of threefive, 2.3.21?

try this.
    python3 hasp.py https://phls-vod.cdn.turner.com/cnnngtv/cnn/hls/2018/12/03/urn:ngtv-show:115615/index_1.m3u8

Output looks like
![image](https://user-images.githubusercontent.com/52701496/155003249-318eb4eb-347f-41e2-aa9d-89a3a1d3e78e.png)

I have to run to Walmart to find me a new girlfriend real quick, but tonight Ill check

[2022-02-21 17:38] futzu commented on #46
If you're good, close this issue please,
If you're not good, let me know and Ill fix it.

Thanks for the input man,
 I have been wanting to make this change for a while,
but I wasn't sure on how to do it in setup.py.

Adrian

[2022-02-22 01:01] moving-digital commented on #49
Hi @futzu

Seems like I'm running 2.3.21 indeed:

![image](https://user-images.githubusercontent.com/81666507/155044296-fc6f44c1-a308-4ffb-8872-43470c3ad529.png)

![image](https://user-images.githubusercontent.com/81666507/155044329-fff38901-9761-44ca-9914-95fa7baff6a5.png)

I'm not based in US and the m3u8 is geoblocked so I am getting 403 Forbidden / Access Denied.

Edit: I used my VPN to downlo

[2022-02-22 03:59] moving-digital commented on #50
Closed. Let's focus on the other ticket https://github.com/futzu/scte35-threefive/issues/49

[2022-02-22 03:59] #50 closed, assigned to nobody

[2022-02-22 04:53] moving-digital opened #51 "'hasp.py' unable to parse #EXT-X-CUE-OUT, #EXT-X-CUE-OUT-CONT, #EXT-X-CUE-IN"
Hi @futzu

Following up with another issue, `hasp.py` is unable to parse the SCTE-35 HLS cues in my two m3u8 playlists:
- #EXT-X-CUE-OUT
- #EXT-X-CUE-OUT-CONT
- #EXT-X-CUE-IN

Playlist 1 has the following syntax:
[code]

While Playlist 2 has a different structure:

[code]

None of them can be parsed with `hasp.py`, could you have a look? I can provide you the m3u8 files.

[2022-02-22 12:14] futzu commented on #49
Lets stick to hasp.py.
* hasp.py does not use the m3u8 lib.

Errors:
1. I need to see the SCTE-35 Cues in that one. Post it and but change the urls if you want. I dont need the segments, just the m3u8.

2. The connection was reset by the web server, threefive didn't do it.
     * make sure you play the m3u8 in mplayer, vlc, or ffplay
    * check the cert from the website.
    * Make sure your ssl

[2022-02-22 12:21] moving-digital commented on #49
Thanks @futzu  ! Please find the .m3u8 attached.

[ftv_scte35.m3u8.txt](https://github.com/futzu/scte35-threefive/files/8116534/ftv_scte35.m3u8.txt)

[2022-02-22 12:27] moving-digital commented on #49
Hi @futzu

It does not work and I'm being thrown the following error message:

[code]

[2022-02-22 12:29] futzu commented on #51
[code]
I can look at that and tell you it's not SCTE-35.
[code]
that looks kind of  kooky as well/

What made that file?

[2022-02-22 12:33] moving-digital commented on #51
Hi @futzu  I wish I could tell which packager, but I have no idea. Yet this stream is currently live and working well...

Are you able to discard the unnecessary parameters for hasp.py not to crash?

[2022-02-22 14:20] #46 closed, assigned to futzu

[2022-02-23 06:59] futzu commented on #49
[ I updated hasp.py](https://github.com/futzu/scte35-threefive/blob/master/examples/hls/hasp.py)
It should fix the pcr_start issue.

Adrian

[2022-02-23 07:03] moving-digital commented on #49
Thanks @futzu !

Keep me posted once you got a fix for "OverflowError: int too big to convert" too 👍

There are so many different ways to handle SCTE-35 in HLS playlist, that I'm sure there are other people out there with the same syntax...

[2022-02-23 11:32] moving-digital commented on #51
Hi @futzu

**For playlist 1** (here: [karaoke_scte35.m3u8.txt](https://github.com/futzu/scte35-threefive/files/8124005/karaoke_scte35.m3u8.txt) :

No SCTE-35 can be parsed even if all the markers are valid. Could you please check?

**For playlist 2** (here: [ftv_scte35.m3u8.txt](https://github.com/futzu/scte35-threefive/files/8124001/ftv_scte35.m3u8.txt) :

I was having a look at the [hlsparse.py]

[2022-02-23 22:41] futzu commented on #49
* The Overflow Error is not a threefive issue.
*  Connection reset ny peer Error is also not a threefive issue.
* No, the stuff you showed me does not look like or decode as SCTE-35.

[2022-02-23 22:45] futzu commented on #51
I never got your files, the links don't work.

Dude you need to read the SCTE-35 and hls specifications.

[2022-02-23 22:57] futzu commented on #51
[code]
Is not SCTE-35, I know that because there is no table ID at the start, or splice info section.
It is also not the  'Too big' int.

[code]
You haven't given me enough information to even diagnose the problem.
**If want my help, I need the m3u8 and the stream.**
If you trust me enough to use threefive, then you should
trust me enough to show me the information I need.

[2022-02-25 03:12] futzu commented on #49
I am closing this  issue,

The pcr_start thing has been fixed.

The overflow error
**not a threefive issue.**

The server connection thing,
**not a threefive issue.**

You are not using SCTE-35 HLS tags  properly,
* **There is no SCTE-35 Cue.**
* **The timestamps are not formatted correctly**
* **The dates are not formatted correctly**
* etc......

The HLS is not so good either.

I'm not being a d

[2022-02-25 03:12] #49 closed, assigned to nobody

[2022-02-25 03:14] futzu commented on #51
![ext-x-daterange](https://user-images.githubusercontent.com/52701496/155646796-fcd286e9-9ea3-4c0e-9d5d-99e182ecb898.png)
![scte35-hls-cue-tags-one](https://user-images.githubusercontent.com/52701496/155646828-a11e07ce-0897-4498-aa51-ac0faf3b3563.png)
![scte35-hls-cue-tags-two](https://user-images.githubusercontent.com/52701496/155646877-9fba8d0c-d5c3-4192-83d2-c1670bc1d848.png)

[2022-02-25 04:04] moving-digital commented on #51
Thanks @futzu !

Understood for playlist 2.

But how about playlist 1 ?

[2022-02-27 11:28] moving-digital commented on #51
Hi @futzu

Would you happen to have an update about the issue with the following playlist ?

 karaoke_scte35.m3u8.txt 

[2022-03-01 03:19] futzu commented on #51
Threefive is working correctly.
It's not parsing it because it's not actually scte-35.

If you want me to sort it out for you, I do consulting. Send me an email and we can discuss terms.

-------- Original Message --------
From: moving-digital ***@***.***>
Sent: Sun Feb 27 06:28:17 EST 2022
To: futzu/scte35-threefive ***@***.***>
Cc: "Adrian." ***@***.***>, Mention ***@***.***>
Subject: Re: [futzu

[2022-03-01 06:15] futzu commented on #51
* The karaoke one doesnt have a SCTE-35 Cue,
* #EXT-CUE-OUT-CONT is incomplete and inaccurate.

I can go on and on, but I'm not going to do your job for you, unless you pay me.

[2022-03-01 06:15] #51 closed, assigned to nobody

[2022-03-01 09:08] futzu commented on #51
Read this.
https://datatracker.ietf.org/doc/html/rfc8216#section-4.3.2.7.1

[2022-03-04 14:24] moving-digital commented on #51
Hi @futzu

I actually agree with you that this kind of SCTE-35 is not as per the specs, but I must say this is the sad truth about SCTE-35 in HLS stream.

As per [bbgdzxng1](https://github.com/bbgdzxng1), I quote :

To make threefive robust and future-proof, that may be worth looking into implementing all different ways to handle SCTE-35 in HLS, otherwise its field of action for HLS may be limited

[2022-03-09 06:32] futzu commented on #51
I am not trying to be a dick, but you don't understand how all this works.

Non-integer frame rates are what is most often used.

You are confusing HLS Segment duration with SCTE-35 Splice duration, two totally different things.

what you call "binary payload" is what I call a SCTE-35 cue.

**All of the HLS SCTE-35 tags you mentioned above require SCTE-35 cues,**

**Your HLS tags either do not hav

[2022-03-14 16:33] futzu commented on #51
I did find something I was doing wrong with your HLS.
The segment uri starts with ../../../../, and the hasp.py script was getting 500 errors back from the server when it asked for segments.

like this

[code]

I updated hasp.py last night so that it handles that before it makes the request

like this

[code]

Heres the [code](https://github.com/futzu/scte35-threefive/blob/master/examples/hls/hasp

[2022-05-01 00:42] futzu commented on #51
@moving-digital
I got an easy solution for you.
I wrote a scte35 aware hls segmenter, and it comes with a parser.

https://github.com/futzu/scte35-hls-x9k3

[2022-06-23 10:06] kapilgpt06 opened #54 "How to check scte marker present in TV hls url?"
I have a tv HLS URL and I want to check scte-35 marker is present or not?
I tried through tsduck lib but I can't find any solution there.
Please share any command or solution
Thanks!

[2022-06-23 16:21] futzu commented on #54
[m3u8fu](https://github.com/futzu/m3u8fu) is what I use.

[code]
* SCTE-35 will be printed like this
[code]

[2022-06-23 23:02] futzu commented on #54
If you are working with a master.m3u8, you need to pick a variant to check for SCTE35.
SCTE-35 is not used in a master.m3u8

If you just want to see if scte35 is being used and not concerned  with specifics,
just  pipe the output to `grep -i cue`

[code]

let me know what happens.

Adrian

[2022-06-29 03:18] futzu commented on #54
Since I haven't heard back from you, I'm going to go ahead and close this.

[2022-06-29 03:18] #54 closed, assigned to nobody

[2022-09-23 11:54] huyen-streamotion opened #55 "Handle unknown chars in segmentation_upid"
Input `/DBKAAAAAAAAAP/wBQb+YtC8/AA0AiZDVUVJAAAD6X/CAAD3W3ACEmJibG5kcHBobkQCAsGDpQIAAAAAAAEKQ1VFSRSAIyowMljRk9c=`

Actual behaviour: `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc1 in position 12: invalid start byte` at https://github.com/futzu/scte35-threefive/blob/f41c8a614abc1c866c5ddb48caf54368c235145a/threefive/bitn.py#L55

Expected behaviour:

- Either, having that exception handled

[2022-09-26 16:45] futzu commented on #55
let me check it out, Ill get back to you shortly.

[2022-09-26 17:02] futzu commented on #55
Passing a charset in is a can of worms I do not wish to open, however, I will do,
` return int.to_bytes(stuff, wide, byteorder="big").decode("utf-8", errors="replace")`
and the segmentation upid will come out like
[code]
**Can you live with that solution?**

[2022-09-26 17:37] futzu commented on #55
`pip install --upgrade threefive`

[code]

[2022-09-26 19:17] futzu commented on #55
On second thought, **a charset might be a good idea.**
In the Stream class, I need a charset sometimes for mpegts descriptors,
I'm fairly sure it could be used in other places as well.
Maybe a **threefive.charset** var or something. I can default it to utf-8,
but it could be set otherwise if needed.
**What do you think?**

[2022-09-28 02:05] huyen-streamotion commented on #55
Thanks @futzu.
That quick fix is good for us.
I also vote for allowing the user to provide the charset.

[2022-09-29 17:04] futzu commented on #55
Here's what I'm testing now,
this would apply to UPID types:
*  0x01,0x02(Deprecated),
* 0x03 (AdID) ,
* 0x07 (TID),
* 0x09 (ADI),
* 0x10 (UUID),
* 0x11 (SCR),
* 0x0E (ADS Info),
* 0x0F (URI)
* 0xFD (Unknown)
[code]

[2022-10-09 16:59] futzu commented on #55
threefive.upids.charset is active as of threefive-2.3.51.

[2022-10-09 16:59] #55 closed, assigned to nobody

[2022-11-01 02:23] futzu opened #65 "@richard"
Firstly, please don't hit me 4 pull requests at once,
I have spent hours on Hex padding alone.
Lets do them one at a time please.

I can live with padding, but this is not so good,
[code]
Since we already have k, instead of num_bits use k.bit_length()

Is there any other way we can do it besides +3 >>2 ?

The code does not have to be super short.

You also need to verify your changes work with NBi

[2022-11-01 02:35] futzu commented on #65
I keep confusing the value and the num_bits,

you need to resolve this using k.

adding 3 to the number of bits and bit shifting the number of bits 2,
is just ugly, there is a better way to do it.

[2022-11-01 02:57] futzu commented on #65
You have sent 7 pull requests in the last five days and they are all over the place.
I have spent  several hours on this, for stuff that isnt broke and I dont even want.
Now I took the wrong commit of your pull request for this, and spent all evening
dealing with this.
I got other things to do.
I dont need this nor want this amd I  dont care to debate it further.

[2022-11-01 02:57] #65 closed, assigned to nobody

[2022-11-13 04:46] cisiwen opened #67 "OSError: [Errno 55] No buffer space available"
not sure is anyone encounter this error
but when i try to
`strm = threefive.Stream('udp://@224.2.2.4:1234')`
i keep getting
`OSError: [Errno 55] No buffer space available`

ffplay playing good

`Input #0, mpegts, from 'udp://@224.2.2.4:1234':KB sq=    0B f=0/0
  Duration: N/A, start: 630.728000, bitrate: N/A
  Program 1
    Metadata:
      service_name    : Service01
      service_provider: FFmpeg

[2022-11-13 04:48] cisiwen commented on #67
More of error message
`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/*******/opt/anaconda3/envs/py36/lib/python3.9/site-packages/threefive/stream.py", line 139, in __init__
    self._tsdata = reader(tsdata)
  File "/Users/*******/opt/anaconda3/envs/py36/lib/python3.9/site-packages/new_reader.py", line 72, in reader
    return _open_mcast(uri)
  File "/Use

[2022-11-13 08:18] richard-vd commented on #67
Try this:
[code]
Does it work for you?

[2022-11-13 08:48] cisiwen commented on #67
Hi richard

thanks very much it is working nicely
the output as expect

{
    "info_section": {
        "table_id": "0xfc",
        "section_syntax_indicator": false,
        "private": false,
        "sap_type": "0x3",
        "sap_details": "No Sap Type",
        "section_length": 42,
        "protocol_version": 0,
        "encrypted_packet": false,
        "encryption_algorithm": 0,
        "pt

[2022-11-13 09:30] futzu commented on #67
@richard-vd,
I appreciate your enthusiasm, however, I need you to stop.
That is not a solution. You didn't solve the problem, you just worked around it.

[2022-11-13 10:07] futzu commented on #67
@cisiwen
I set the buffer gigantic like that because some people were  dropping packets.
If you drop packets,  the receive buffer can be increased at the OS level with sysctl.

[code]

[2022-11-13 11:08] cisiwen commented on #67
@futzu

thanks for the deep level of explanation! i suspected could be os level issue but can't get proper fix from google search
very lucky i get the answer and solution from both you  and richard

Like threefive work like a charm and thanks both you and richard so quick and prefessinal solution.

[2022-11-13 11:09] cisiwen commented on #67
belive the issue solved, you can close the ticket!

[2022-11-13 12:09] futzu commented on #67
run
pip3 install --upgrade threefive
and it should work without having to patch it.

[2022-11-13 12:09] #67 closed, assigned to nobody

[2022-11-28 20:30] pizzafridayisathing opened #68 "Issues with example scripts"
Firstly, super many thanks for these tools, amazing work!

Similar to [Issue26](https://github.com/futzu/scte35-threefive/issues/26), I really want the preroll, but most of the example scripts I get various errors for.

**cue_list_too.py seems the only one I can get working**
[code]

**But not cue_list.py**
[code]

[2022-11-30 07:37] futzu commented on #68
Some of those are kind of old, here's preroll.py

[code]

[2022-11-30 08:06] futzu commented on #68
cue_list.py
[code]

[2022-11-30 08:07] futzu commented on #68
Did you have any other example problems?

[2022-11-30 09:07] pizzafridayisathing commented on #68
Thanks for getting back :)

It seems like these are the only two so far, (I've just tested a few more (but not ALL) and it seems they're mostly good)

I don't have mplayer installed and figure that might take me a while, so unable to test those

[2022-11-30 21:41] futzu commented on #68
Cool.

You know you don't have to use mplayer, any player that can read from stdin will work.

[2022-11-30 21:41] #68 closed, assigned to nobody

[2022-11-30 22:02] pizzafridayisathing commented on #68
Apologies if I've misunderstood, but just to confirm, are you saying that preroll.py and cue_list.py are known as not to work, or should they be working?

[2022-11-30 22:34] pizzafridayisathing opened #69 "2 quick points"
With REF to issue [68](https://github.com/futzu/scte35-threefive/issues/68)

1. Apologies if I've misunderstood, but just to confirm, are you saying that preroll.py and cue_list.py are known as not to work, or should they be working?
2. I had to use the following with cue2vtt.py

[code]